﻿@{
    ViewBag.Title = "Home Page";
}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

    <div class="page {{ pageClass }}" ng-view></div>

    <!-- angular templating -->
    <!-- this is where content will be injected -->
</div>